@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-sm-12 d-flex flex-column">
        <h2><b>Costco</b></h2>
        <p>Costco should come to Stillwater because it would benefit the town 
            financially, and provide a fun shopping experience..</p>
        <a href="#">Costco</a>
    </div>
</div>
