@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-sm-12 d-flex flex-column">
        <h2><b>Costco</b></h2>
        <p>Costco should come to Stillwater because it would be cool
            and good! It would also save students money!</p>
        <a href="#">Costco</a>
    </div>
</div>